# Python 文件
*.pyc
*.pyo
__pycache__
*.csv
Model/models*

# 虚拟环境
venv/
.env/
env/
*.egg-info

# IDE 和编辑器生成的文件
.vscode/
.idea/
*.iml

# 操作系统生成的文件
.DS_Store  # macOS
Thumbs.db  # Windows

# Jupyter Notebook检查点文件
.ipynb_checkpoints/

# 日志文件
*.log

# 打包和构建文件
*.zip
*.tar.gz
dist/
build/
*.egg

# 配置文件
*.env
